mixin hero()
  section.hero
    .container
      .hero__text
        p Who is&nbsp;
          span mr. Spidershiba Inu?
        span.hero__notice it’s a&nbsp;hybrid of&nbsp;Shiba and&nbsp;Spiderman.... but
        p
          | It’s not only for pump and&nbsp;dump by&nbsp;Elon tweets.
          | This is&nbsp;real NFT game with Achiements, Goals and&nbsp;nice gameplay with tokenization
        .hero__link
          a(href="#joincommunity", aria-label="Join our community.") Join Community
          a(href="#howitwork", aria-label="More information about SpiderShiba Inu.") More about SpiderShiba&nbsp;Inu
        .hero__contact
          span Contract address:
          span 0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc
      .hero__img
        +img("shiba", "spidershiba", "webp", 592, 546, "Image Spider Shiba Inu.")
