mixin play-to-earn()
  section.play-to-earn
    .container
      h2.title(data-title="title") Play to&nbsp;earn
      p(data-description="description") Many ways to&nbsp;earn tokens and&nbsp;NFTs
      .play-to-earn__card.play-to-earn__card--1(data-component="card")
        .play-to-earn__img(data-image="card-image")
          +img("playToEarn", "heroincity", "webp", 649, 288, "Image heroes in city.")
        .play-to-earn__text
          h3.play-to-earn__subtitle(data-subtitle="subtitle") Game plot and&nbsp;goal
          p(data-text="text") Mary Jane has been kidnapped by&nbsp;Green Goblin, who has no&nbsp;intention of&nbsp;letting her escape, so&nbsp;she&nbsp;flees to&nbsp;New York City, going through different scenarios that will&nbsp;be&nbsp;part of&nbsp;the&nbsp;game!
          p(data-text="text") The&nbsp;goal is&nbsp;to&nbsp;accumulate as&nbsp;many game coins and points as&nbsp;possible, which will then&nbsp;be transformed into the&nbsp;game token based also on&nbsp;the&nbsp;attempts used to&nbsp;complete the&nbsp;level.
          p(data-text="text") Once the&nbsp;Green Goblin is&nbsp;defeated and Mary Jane is&nbsp;safed, the&nbsp;game is&nbsp;over, but we&nbsp;don't stop there!
      .play-to-earn__card.play-to-earn__card--2(data-component="card")
        .play-to-earn__img(data-image="card-image")
          +img("playToEarn", "coin", "webp", 153, 160, "Image coin.")
        .play-to-earn__text
          h3.play-to-earn__subtitle(data-subtitle="subtitle") Earn that cash!
          p(data-text="text") In&nbsp;the&nbsp;various levels there will also be&nbsp;special coins, more difficult to&nbsp;take, which will provide you&nbsp;with&nbsp;bonuses in&nbsp;tokens or&nbsp;game NFTs!
      .play-to-earn__card.play-to-earn__card--3(data-component="card")
        .play-to-earn__img(data-image="card-image")
          +img("playToEarn", "megaphone", "webp", 180, 160, "Image megaphone.")
        .play-to-earn__text
          h3.play-to-earn__subtitle(data-subtitle="subtitle") Game events and challenges
          p(data-text="text") There will&nbsp;be lots of&nbsp;events after end of&nbsp;the&nbsp;game, that&nbsp;will bring together whole community and&nbsp;you&nbsp;can participate in&nbsp;challanges with&nbsp;the&nbsp;NFTs!
