mixin play-to-earn()
  section.play-to-earn
    .container
      h2.title Play to&nbsp;earn
      p Many ways to&nbsp;earn tokens and&nbsp;NFTs
      .play-to-earn__card.play-to-earn__card--1
        +img("playToEarn", "heroincity", "webp", 649, 288, "Image heroes in city.")
        .play-to-earn__text
          h3.play-to-earn__subtitle Game plot and&nbsp;goal
          p Mary Jane has been kidnapped by&nbsp;Green Goblin, who has no&nbsp;intention of&nbsp;letting her escape, so&nbsp;she&nbsp;flees to&nbsp;New York City, going through different scenarios that will&nbsp;be&nbsp;part of&nbsp;the&nbsp;game!
          p The&nbsp;goal is&nbsp;to&nbsp;accumulate as&nbsp;many game coins and points as&nbsp;possible, which will then&nbsp;be transformed into the&nbsp;game token based also on&nbsp;the&nbsp;attempts used to&nbsp;complete the&nbsp;level.
          p Once the&nbsp;Green Goblin is&nbsp;defeated and Mary Jane is&nbsp;safed, the&nbsp;game is&nbsp;over, but we&nbsp;don't stop there!
      .play-to-earn__card.play-to-earn__card--2
        +img("playToEarn", "coin", "webp", 153, 160, "Image coin.")
        .play-to-earn__text
          h3.play-to-earn__subtitle Earn that cash!
          p In&nbsp;the&nbsp;various levels there will also be&nbsp;special coins, more difficult to&nbsp;take, which will provide you&nbsp;with&nbsp;bonuses in&nbsp;tokens or&nbsp;game NFTs!
      .play-to-earn__card.play-to-earn__card--3
        +img("playToEarn", "megaphone", "webp", 180, 160, "Image megaphone.")
        .play-to-earn__text
          h3.play-to-earn__subtitle Game events and challenges
          p There will&nbsp;be lots of&nbsp;events after end of&nbsp;the&nbsp;game, that&nbsp;will bring together whole community and&nbsp;you&nbsp;can participate in&nbsp;challanges with&nbsp;the&nbsp;NFTs!
