mixin running-line()
  section.running-line
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
    .running-line__text WARNING: this is not a meme coin
