.toggle {
  display: none;

  @include vp-1023 {
    display: block;
    background-color: $color-astronaut;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    z-index: 5;
    opacity: 1;
    transition: opacity $trans-default;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.toggle .toggle__closed {
  display: none;
  opacity: 0;
}

.toggle.is-opened .toggle__opened {
  display: none;
}

.toggle.is-opened .toggle__closed {
  display: inline;
  opacity: 1;
}
