mixin header(headerMods)
  -
    const headerLink = [
      {
        href: "#",
        text: "How it works"
      },
      {
        href: "#",
        text: "Play and earn"
      },
      {
        href: "#",
        text: "Roadmap"
      },
      {
        href: "#",
        text: "Team"
      },
      {
        href: "#",
        text: "Partners&Investors"
      },
      {
        href: "#",
        text: "Why invest in SpiderShiba"
      },
      {
        href: "#",
        text: "Tokenomics"
      },
      {
        href: "#",
        text: "FAQ"
      },
      {
        href: "#",
        text: "Community"
      }
    ]

  header.header(class=headerMods)
    .container
      a.header__logo(href="index.html", aria-label="Go to home page.")
        +img("logotype", "logo", "webp", 253, 50, "Logotype Spidershiba Inu.")
      nav.header__nav.nav
        button.nav__toggle.toggle(type="button", aria-label="Open menu.", aria-pressed="false")
          +icon("burger-open", 17, 12).toggle__opened
          +icon("burger-close", 13, 12).toggle__closed
        .nav__wrapper
          ul.nav__list
            each link in headerLink
              li.nav__item
                a.nav__link(href=link.href)= link.text
      a.header__link(href="#joincommunity", aria-label="Join our community.") Join Community
